# Implement LSH from scratch

In this assignment, you will implement LSH from scratch and predict the labels of the test data. You will then verify the correctness of the your implementation using a "grader" function/cell (provided by us) which will match your implmentation.

The grader fucntion would help you validate the correctness of your code. 

Please submit the final Colab notebook in the classroom ONLY after you have verified your code using the grader function/cell.


**NOTE: DO NOT change the "grader" functions or code snippets written by us.Please add your code in the suggested locations.**

Ethics Code:
1. You are welcome to read up online resources to implement the code. 
2. You can also discuss with your classmates on the implmentation over Slack.
3. But, the code you write and submit should be yours ONLY. Your code will be compared against other stduents' code and online code snippets to check for plagiarism. If your code is found to be plagiarised, you will be awarded zero-marks for all assignments, which have a 10% weightage in the final marks for this course.

## Reading the data from csv file

In [ ]:
# Code to mount google drive in case you are loading the data from your google drive
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
# Loading data from csv file
import pandas as pd
data_path = '/gdrive/MyDrive/Colab Notebooks/lsh_assignment_data.csv'

df = pd.read_csv(data_path)
df

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2220            NaN  cars pull down us retail figures us retail sal...
2221            NaN  kilroy unveils immigration policy ex-chatshow ...
2222            NaN  rem announce new glasgow concert us band rem h...
2223            NaN  how political squabbles snowball it s become c...
2224            NaN  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

In [ ]:
# Data Overiview
df['category'].value_counts()

sport            509
business         508
politics         415
tech             399
entertainment    384
Name: category, dtype: int64

### Creating Train and Test Datasets

Note that the labels for test data will not be present in the dataset and hence they are mentioned as NaN.

In [ ]:
# The last 10 rows in the csv file are query points, so loading them into test data.
# And loading the reamining points to train_data for which labels are given.

train_data = df.iloc[:-10,:]
test_data = df.iloc[-10:,:]

In [ ]:
# For train_data here the labels are in the column named "category".
train_data

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2210       politics  teens  know little  of politics teenagers ques...
2211  entertainment  lopez misses uk charity premiere jennifer lope...
2212       business  christmas shoppers flock to tills shops all ov...
2213           tech  progress on new internet domains by early 2005...
2214       business  bush budget seeks deep cutbacks president bush...

[2215 rows x 2 columns]

In [ ]:
test_data

     category                                               text
2215      NaN  junk e-mails on relentless rise spam traffic i...
2216      NaN  top stars join us tsunami tv show brad pitt  r...
2217      NaN  rings of steel combat net attacks gambling is ...
2218      NaN  davies favours gloucester future wales hooker ...
2219      NaN  beijingers fume over parking fees choking traf...
2220      NaN  cars pull down us retail figures us retail sal...
2221      NaN  kilroy unveils immigration policy ex-chatshow ...
2222      NaN  rem announce new glasgow concert us band rem h...
2223      NaN  how political squabbles snowball it s become c...
2224      NaN  souness delight at euro progress boss graeme s...

## Custom Implementation

### Instructions:

  1. Read in the train_data.
  2. Vectorize train_data using sklearns built in tfidf vectorizer.
  3. Ignore unigrams and make use of both **bigrams & trigrams** and also limit the **max features** to **4000** and **minimum document frequency** to **10**.
  4. After the tfidf vectors are generated as mentioned above, next task is to generate random hyperplanes.
  5. Generate **5 random hyperplanes**. And generate the hyperplanes using a random normal distribution with **mean zero and variance 1**. 
  6. We have set the **numpy random seed to zero**, please do not change it. And then you can make use of **np.random.normal** to generate the vectors for hyperplanes.
  7. As mentioned in the course videos, compute the hash function and also the corresponding hash table for it.
  8. Once the hash table is generated now take in each of the query points from the test data.
  9. Vectorize those query points using the same tfidf vectorizer as mentioned above.
  10. Now use the hash function on this query point and fetch all the similar data points from the hashtable.
  11. Use cosine similarity to compute **11-Nearest Neighbours** from the list of data points obtained in the above step.
  12. Take a majority vote among the 11-Nearest Neighbours and predict the class label for the query point in the test data.
  13. **In case of a tie** in the obtained labels from nearest neighbours, you can pick a label after sorting all the labels **alphabetically**(A-Z), i.e. for example labels starting with A would get more preference than labels starting with Z.
  14. Repeat steps 9 to 13 for all the points in the test data and then finally return a list with all the predicted labels.
  15. Note that there are a total of 10 data points in the test data so the final list you return should be of length 10.
  16. Also note that the cosine similarity function should be written from scratch, you should not directly make use of existing libraries.
  17. Please use the formula of cosine similarity as explained in the course videos, you can make use of numpy or scipy to calculate dot or norm or transpose.

In [ ]:
# Please implement this fucntion and write your code wherever asked. Do NOT change the code snippets provided by us.
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import StandardScaler
import numpy as np
from numpy.linalg import norm


def predictLabels (test_data):
  """
  Given the test_data, return the labels for all the rows in the test data.
  Follow the step by step instructions mentioned above.
  """

  np.random.seed(0)

  ##############################################################
  ####  Write YOUR CODE BELOW  as per the above instructions ###
  ##############################################################

  #reading train data values from the dataset
  x_train,y_train = train_data['text'].copy(),train_data['category'].copy()
  
  #to handle NotImplemented error
  #scaler = StandardScaler()
  #scaler.fit(x_train)
  #x_train = scaler.transform(x_train)
  #x_train = StandardScaler().fit(x_train).transform(x_train) #it works only for numbers and not strings
  #print(x_train)

  #Vectorize train_data using sklearns built in tfidf vectorizer
  #Ignoring unigrams and using both bigrams(2) & trigrams(3) 
  #limiting the max features to 4000 (consider only top 4000 features from the corpus) and minimum document frequency to 10(ignores the document frequency lower than 10).
  tfidf_vectorizer = TfidfVectorizer(ngram_range=(2,3),max_features=4000, min_df=10)
  tfidf_vectorizer_fitmodel = tfidf_vectorizer.fit(x_train)
  X = tfidf_vectorizer_fitmodel.transform(x_train)
  #print(X[:10])
  #print(X.shape)

  #next task is to generate 5 random hyperplanes
  #Generating the hyperplanes using a normal random distribution N(0,1)
  #By using np.random.normal we will generate the vectors for hyperplane
  np.random.seed(0) #setting numpy random seed to zero
  Hplanes = np.random.normal(0,1,(5,X.shape[1]))
  #print("Hyperplanes are:", Hplanes)

  #Computing the hash function and also computing the corresponding hash table for it
  #by using Hash function large keys are converted to small keys and then the values are stored in a hash table
  def hash_fun(x_vec):
    #it returns the hash key of size(1,no.of hyperplanes)
    key = tuple() #here we use tuple because lists are not hashable 
    key_array = x_vec.dot(Hplanes.T)

    #print(key_array.shape)
    key_array = key_array.tolist()
    
    key = tuple(map(lambda x: (0,1)[x>0],key_array[0]))
    return key

  #creating hast table

  Hashtable = dict()

  index = 0
  #now finding values of hast table using hash_key()
    
  for position in X:
    key = hash_fun(position)
    if key not in Hashtable:
      Hashtable[key] = list()
    Hashtable[key].append(index)
    index = index+1


  #Using the TfidfVectorizer, vectorizing the query points

  x_test, y_test = test_data['text'].copy(),test_data['category'].copy()

  #x_test = scaler.transform(x_test)

  #query point
  Xq = tfidf_vectorizer_fitmodel.transform(x_test)

  Xq_nearest_neighbour = dict()

  #computing the 11-nearst neighbour using the cosine similarity

  def cos_similarity(Query_point,neighbour,k=11):  
      cosine_sim = []
      Query_point_L2 = np.linalg.norm(Query_point.toarray(),2)

      for index_neighbour in neighbour:
        nearest_neighbour = X[index_neighbour]
        cos = Query_point.dot(nearest_neighbour.T)/(Query_point_L2 * np.linalg.norm(nearest_neighbour.toarray(),2))
        cosine_sim.append(cos.toarray().item())
      neighbour = np.array(neighbour)
      return neighbour[np.argsort(cosine_sim)[:-(k+1):-1]]

  index = 0
  for qp in Xq:
    key = hash_fun(qp)
    neighbour = Hashtable[key]
    nearest_neighbour_11 = cos_similarity(qp,neighbour,k=11)
    Xq_nearest_neighbour[index] = nearest_neighbour_11
    index = index + 1

    #print(Xq_nearest_neighbour)

  #taking the Majority voting among 11-nearest neighbour and predicted class label of query point in the test data

  Xq_label = []
  for index,neighbour in Xq_nearest_neighbour.items():
    count_of_label = dict()
    max = 0
    majority = ' '
    for n in neighbour:
      label = y_train[n]
      count_of_label[label] = count_of_label.get(label,0)+1
      if count_of_label[label]>max:
        max = count_of_label[label]
        majority = label
      if count_of_label[label]==max:
        if label[0]<majority[0]:
          max = count_of_label[label]
          majority = label
    Xq_label.append(majority)

  return np.array(Xq_label)

## Grader Cell

Please execute the following Grader cell to verify the correctness of your above implementation. This cell will print "Success" if your implmentation of the predictLabels() is correct, else, it will print "Failed". Make sure you get a "Success" before you submit the code in the classroom.

In [ ]:
###########################################
## GRADER CELL: Do NOT Change this.
# This cell will print "Success" if your implmentation of the predictLabels() is correct and the accuracy obtained is above 80%.
# Else, it will print "Failed"
###########################################
import numpy as np

# Predict the labels using the predictLabels() function
Y_custom = np.array(predictLabels(test_data))

# Reference grader array - DO NOT MODIFY IT
Y_grader = np.array(['tech', 'entertainment', 'tech', 'sport', 'business', 'business', 'politics', 'entertainment', 'politics', 'sport'])

# Calculating accuracy by comparing Y_grader and Y_custom
accuracy = np.sum(Y_grader==Y_custom) * 10

if accuracy >= 80:
  print("******** Success ********","Accuracy Achieved = ", accuracy,'%')
else:
  print("####### Failed #######","Accuracy Achieved = ", accuracy,'%')
  print("\nY_grader = \n\n", Y_grader)
  print("\n","*"*50)
  print("\nY_custom = \n\n", Y_custom)

******** Success ******** Accuracy Achieved =  90 %